<mat-toolbar class="navbar-custom">
  <mat-toolbar-row>
    <!-- Company Logo -->
    <a routerLink="/" class="logo-link" aria-label="Home"
      ><img src="assets/logo.png" alt="Company Logo" class="company-logo"
    /></a>

    <span class="spacer"></span>
    <a
      href="github.com/dewcservices/cloud-native-edge-ddil-environment"
      target="_blank"
      class="github-link"
      aria-label="GitHub"
      rel="noopener"
    >
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
