:host {
  position: absolute;
  overflow: hidden;
}

.environment-card {
  margin: 20px;
}

.environment-card mat-card-title {
  color: #e0e3e2;
}

.environment-card mat-card-content {
  color: #e0e3e2;
}
