:host {
  position: absolute;
  overflow: hidden;
}

.bearer-card {
  margin: 20px;
}

.bearer-card mat-card-title {
  color: #e0e3e2;
  font-size: xx-large;
  padding-bottom: 20px;
}

.bearer-card mat-card-content {
  color: #e0e3e2;
  font-size: small;
}

.links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 16px; /* Spacing between items */
}

.link-item {
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.sub-heading {
  font-size: medium;
  font-weight: bolder;
}
